* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  max-width: 375px;
  height: 5250px;
  margin: 0;
}

.container {
  max-width: 340px;
  margin: 0 auto;
}

.header {
  height: 57px;
  background-color: #131313;
}

.header-content {
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #E3B873;
}

.tel {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  color: #FFFFFF;
}

.image {
  background-image: url(../images/image.png);
  width: 375;
  height: 476px;
  padding-top: 57px;
  box-sizing: border-box;
  background-size: cover;
  position: relative;
}

.image-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.image-container {
  position: relative;
  z-index: 1;
}

.title {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 132.83%;
  margin-top: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.paragraph {
  padding-top: 16px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135.84%;
  color: #FFFFFF;
}

.button {
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  outline: 0;
  border: 0;
  width: 338px;
  height: 51px;
  margin-top: 42px;
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF
}

.button_2 {
  border: 1px solid #FFFFFF;
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 2px;
  box-sizing: border-box;
  width: 338px;
  height: 51x;
  margin-top: 26px;
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  padding: 19px 104px;
  text-align: center;
  color: #FFFFFF;
}

.section {
  background-color: #131313;
  max-width: 375p;
  height: 1550px;
  padding-top: 36px;
}

.title_2 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 138.6%;
  letter-spacing: -0.07em;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}

.text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  padding-top: 22px;
  line-height: 158.48%;
  text-align: center;
  color: #FFFFFF;
}

.image_2 {
  background-image: url(../images/image_2.png);
  width: 340px;
  height: 241px;
  margin-top: 80px;
  box-sizing: border-box;
  background-size: cover;
  position: absolute;
}

.left_arrow {
  background: url(../images/left_arrow.svg);
  width: 36px;
  height: 36px;
  margin-top: 185px;
  margin-left: 14px;
  position: absolute;
}

.right_arrow {
  background: url(../images/right_arrow.svg);
  width: 36px;
  height: 36px;
  margin-top: 185px;
  margin-left: 290px;
  position: absolute;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 340px;
}

.grid_2 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 138.6%;
  margin-top: 27px;
  text-transform: uppercase;
  color: #E3B873;
}

.info {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 138.6%;
  margin-top: 27px;
  text-transform: uppercase;
  color: #E3B873;
}

.icon {
  background: url(../images/icon.svg);
  Width: 224px;
  Height: 73px;
  margin-top: 58px;
  margin-left: 60px;
  position: absolute;
}

.video {
  background: url(../images/video.png);
  filter: brightness(0.2);
  Width: 340px;
  Height: 207px;
  margin-top: 172px;
}

.button_3 {
  background: url(../images/arrow.svg);
  filter: brightness(0.9);
  width: 67px;
  height: 67px;
  margin-top: -145px;
  margin-left: 122px;
}

.underlining {
  background: url(../images/underlining.svg);
  width: 55px;
  height: 1.54px;
  margin-top: 105px;
  margin-left: 145px;
  border-radius: 30px;
}

.text2 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 169.8%;
  margin-top: 21px;
  text-align: center;
  color: #FFFFFF;
}

.form {
  flex-direction: column;
  padding-top: 65px;
}

.name {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  outline: 0;
  border: 0;
  background-color: #131313;
}

.name2 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 138.72%;
  margin-top: 1px;
  color: #FFFFFF;
}

.underlining_2 {
  background: url(../images/underlining_2.svg);
  Width: 340px;
  Height: 1px;
  margin-top: -100px;
  background: #FFFFFF;
  border: rgba(54, 54, 54, 0.3);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.phone {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  margin-top: 63px;
  line-height: 21px;
  outline: 0;
  border: 0;
  background-color: #131313;
}

.underlining_3 {
  background: url(../images/underlining_2.svg);
  Width: 340px;
  Height: 1px;
  margin-top: 103px;
  background: #FFFFFF;
  border: rgba(54, 54, 54, 0.3);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.phone2 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 138.72%;
  margin-top: 1px;
  color: #FFFFFF;
}

.checkbox {
  margin-top: 30px;
  position: absolute;
}

.checkbox__input {
  appearance: none;
  position: absolute;
}

.checkbox__label {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 163.68%;
  margin-left: 30px;
  color: #FFFFFF;
  cursor: pointer;
}

.checkbox__label:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 1px solid #E3B873;
  background-color: #E3B873;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.checkbox__label:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url(../images/check.svg) no-repeat;
  background-size: 10px 10px;
  opacity: 0;
  position: absolute;
  top: 3px;
  left: 4px;
  z-index: 2;
}

.checkbox__input:checked+.checkbox__label:before {
  background-color: #E3B873;
  border-color: #E3B873;
}

.checkbox__input:checked+.checkbox__label:after {
  opacity: 1;
}

.button_4 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  Width: 340px;
  Height: 51px;
  margin-top: 112px;
  outline: 0;
  border: 0;
  background: #E3B873;
  box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
  border-radius: 2px;
}

.title_3 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 138.6%;
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.icon2 {
  background: url(../images/icon2.svg);
  width: 114px;
  height: 28px;
  margin-top: 20px;
  margin-left: 110px;
}

.images {
  flex-direction: column;
  position: absolute;
  margin-top: 40px;
}

.image_3 {
  background: url(../images/image_3.png);
  width: 340px;
  height: 365px;
}

.image_4 {
  background: url(../images/image_4.png);
  width: 340px;
  height: 365px;
  margin-top: 177px;
}

.image_5 {
  background: url(../images/image_5.png);
  width: 340px;
  height: 365px;
  margin-top: 177px;
}

.list {
  width: 270px;
  height: 241px;
  margin-top: 263px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.logo2 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 138.6%;
  padding-top: 21px;
  margin-left: 31px;
  color: #363636;
}

.list_a {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 169.8%;
  margin-top: 10px;
  margin-left: 48px;
  color: #959595;
}

.from {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 138.6%;
  padding-top: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 190px;
  height: 40px;
  background: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.list_2 {
  width: 270px;
  height: 241px;
  margin-top: 303px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.logo3 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 138.6%;
  margin-left: 31px;
  padding-top: 21px;
  color: #363636;
}

.list_b {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 169.8%;
  margin-top: 10px;
  margin-left: 48px;
  color: #959595;
}

.from2 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 138.6%;
  padding-top: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 190px;
  height: 40px;
  background: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.list_3 {
  width: 270px;
  height: 241px;
  margin-top: 300px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.logo4 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 138.6%;
  margin-left: 31px;
  padding-top: 21px;
  color: #363636;
}

.list_c {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 169.8%;
  margin-top: 10px;
  margin-left: 48px;
  color: #959595;
}

.from3 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 138.6%;
  padding-top: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 190px;
  height: 40px;
  background: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.title_4 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 138.6%;
  margin-top: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}

.image_6 {
  background: url(../images/image_7.png);
  Width: 340px;
  Height: 242px;
  margin-top: 34px;
  margin-left: 18px;
  position: relative;
  box-sizing: border-box;
}

.left_arrow_2 {
  background: url(../images/left_arrow.svg);
  width: 36px;
  height: 36px;
  margin-top: -138px;
  margin-left: 32px;
  position: absolute;
}

.right_arrow_2 {
  background: url(../images/right_arrow.svg);
  width: 36px;
  height: 36px;
  margin-top: -138px;
  margin-left: 308px;
  position: absolute;
}

.form_2 {
  flex-direction: column;
  width: 375px;
  height: 710px;
  margin-top: -120px;
  background: #131313;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.logo5 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-top: 172px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.name_2 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  outline: 0;
  border: 0;
  margin-top: 52px;
  margin-left: 18px;
  background: #131313;
}

.name_b {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  margin-left: 18px;
  color: #FFFFFF;
}

.underlining_4 {
  background: url(../images/underlining_3.svg);
  Width: 340px;
  Height: 1px;
  margin-top: -221px;
  margin-left: 18px;
  position: absolute;
  background: #FFFFFF;
  border: rgba(54, 54, 54, 0.3);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.phone_2 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  outline: 0;
  border: 0;
  margin-top: 72px;
  margin-left: 18px;
  position: absolute;
  background: #131313;
}

.phone_b {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  margin-top: 88px;
  margin-left: 18px;
  color: #FFFFFF;
}

.underlining_5 {
  background: url(../images/underlining_3.svg);
  Width: 340px;
  Height: 1px;
  margin-top: -110px;
  margin-left: 18px;
  position: absolute;
  background: #FFFFFF;
  border: rgba(54, 54, 54, 0.3);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.question {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  outline: 0;
  border: 0;
  margin-top: 72px;
  margin-left: 18px;
  background: #131313;
}

.question_a {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  margin-left: 18px;
  color: #FFFFFF;
}

.underlining_6 {
  background: url(../images/underlining_3.svg);
  Width: 340px;
  Height: 1px;
  margin-top: 3px;
  margin-left: 18px;
  position: absolute;
  background: #FFFFFF;
  border: rgba(54, 54, 54, 0.3);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.checkbox_2 {
  margin-top: 30px;
  margin-left: 18px;
  position: absolute;
}

.checkbox__input {
  appearance: none;
  position: absolute;
}

.checkbox2__label {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 163.68%;
  padding-left: 25px;
  color: #FFFFFF;
  cursor: pointer;
}

.checkbox2__label:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 1px solid #E3B873;
  background-color: #E3B873;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.checkbox2__label:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url(../images/check.svg) no-repeat;
  background-size: 10px 10px;
  opacity: 0;
  position: absolute;
  top: 3px;
  left: 4px;
  z-index: 2;
}

.checkbox__input:checked+.checkbox2__label:before {
  background-color: #E3B873;
  border-color: #E3B873;
}

.checkbox__input:checked+.checkbox2__label:after {
  opacity: 1;
}

.button_7 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  Width: 340px;
  Height: 51px;
  margin-top: 120px;
  margin-left: 18px;
  position: absolute;
  outline: 0;
  border: 0;
  background: #E3B873;
  box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
}

.footer {
  width: 375px;
  height: 470px;
  text-align: center;
  background-color: #131313;
}

.frame {
  background: url(../images/frame.png);
  Width: 340px;
  Height: 242px;
  margin-top: 30px;
  margin-left: 18px;
  position: absolute;
}

.logo6 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 138.6%;
  padding-top: 310px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}

.icon3 {
  background: url(../images/icon3.svg);
  Width: 71px;
  Height: 28px;
  margin-top: 15px;
  margin-left: 139px;
  position: absolute;
}

@media screen and (max-width: 768px) {
  
}
